@keyframes Glitch {
    0%{box-shadow: red -10px -0,cyan 10px 0}
}

@keyframes Glitchs {
    0.1%{box-shadow: red -10px -0,cyan 10px 0}
}


.buttonStyleOne {
    border-style:inset;
    border-width: 5px;
    padding: 10;
    margin: 10px;
    color:white;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 1px;
}

.buttonStyleOne:hover {
    border-style:inset;
    border-width: 5px;
    padding: 10;
    margin: 10px;
    color:white;
    background-color: gray;
    border-color: gray;

    animation-name: Glitch;
    animation-duration: 1.5s;
}

.buttonStyleOne:active {
    border-style:inset;
    border-width: 5px;
    padding: 10;
    margin-top: 15px;
    color: black;
    background-color: white;
    border-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    animation-name: Glitchs;
    animation-duration: 1000s;
}

.MiddleSec p {
    display: inline;
    flex: 2;
    text-align: center;
    margin-top: 200px;
    font-size: 30px;
}

.MiddleSec img {
    position: absolute;;
    z-index: -3;
    width: 100%;
    height: 75%;
    top: 0;
}

.MiddleSec{
    display: flex;
    margin-bottom: 0;
    border-bottom-style: solid;
    border-bottom-color: black;
    height: 496px;
    border-bottom-width: 5px;
}

.buttonHolderTypeOne {
    display: inline-flex;
    width: 200px;
    margin-top: 150px;
    flex-direction: column;
}

.header-text {
    color: black;
    display: block;
    text-align: center;
    font-family: Roboto Slab;
    font: 700;
    top: 0;
    font-size: 70px;
    z-index: 1;
    text-shadow: red -3px 0px, cyan 3px 0px;
}

.Norm-Text {
    margin-top: 100px;
    padding-left: 30px;
    text-align: center;
    font-size: 25px;
    padding-right: 30px;
    width: 60%;
}

.OrigamiInfo {
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.OrigamiInfo div p{
    display: inline-block;
}

.OrigamiInfo div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.OrigamiInfo img{
    flex: 1;
    height: 400px;
    border-style: groove;
    border-width: 10px;
    border-color: aquamarine;
    display: inline-block;
    width: 35%;
}

.Section-contact-us div{
    display: inline-block;
    margin: 10px;
    width: 40%;
}

.Input-Conserns{
    display: inline-block;
    width: 40%;
}

.Section-contact-us {
    display: flex;
    justify-content: space-around;
    background-color:darkcyan;
}

.Section-contact-us div input{
    border-radius: 5px;
}

.main-airball {
    height: 600px;
    margin-bottom: 360px;
    z-index: -3;
}

.main-airball img {
    width: 100%;
    height: 100%;
    z-index: -2;
}

@keyframes appear-from-left {
    0%{margin-left: -400px;opacity: 0;}
    100%{marign-left: 0;opacity: 1;}
}

@keyframes appear {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes stay {
    0%{opacity: 1;}
    100%{opacity: 1;}
}


.Funky-Text {
    font-size: 100px;
    padding-top: 80px;
    padding-left: 40px;

    animation: appear-from-left 2s 0s, stay 99999999s 0s;
    animation-timing-function: ease-in;
}

.info-section {
    display: flex;
    height: 713px
}

.Buttonsstuff {
    background-color: rgb(42, 152, 189);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: appear-from-left 2s ease 0s 1;
}

.Buttonsstuff h1 {
    padding-left: 0px;
}

.Buttonsstuff div {
    padding-left: 40px;
    padding-right: 40px;
}

.image {
    background-color: rgb(42, 152, 189);
    width: 50%;
    
}

.image img {
    width: 100%;
    height: 92%;
    object-fit: cover;
}

.square-buttons {
    background-color: rgb(95, 41, 41);
    border-radius: 0;
    border-style:inset;
    border-width: 7px;
    border-color: rgb(59, 23, 23);
}

.Buttonsstuff h1 {
    padding-bottom: 30px;
}

.Buttonsstuff div {
    padding-bottom: 300px;
}

.video-imbed div {
    background-color: rgba(87, 31, 31,0);
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.video-imbed div video {
    height: 500px;
    margin-left: 100px;
    border-color: rgb(59, 23, 23);
    border-style: ridge;
    border-width: 20px;
}

.video-imbed img {
    margin-top: 357px;
}

.background-image {
    width:100%;
    position: absolute;
    top: 1413px;
    height: 735px;
    z-index: -1;
}

.click-here {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 00, 0);
    color: blue;
    display: inline;
}

.imbed-pdf{
    width: 90%;
    height: 90%;
    z-index: 1;
    position: fixed;
}

.imbed-bed {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    align-items: center;
    justify-content: center;
    display: none;
}

.coverbutton {
    background-color: rgba(0, 0, 255, 0.664);
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border-radius: 0;
}

.message-for-user {
    font: 800;
    position: fixed;
    z-index: 1;
    top: 0;
    font-size: 60px;
    background-color: rgb(57, 57, 247);
    border-style: inset;
    border-color: blueviolet;
    border-width: 20px;
}

@keyframes text {
    0%{opacity: 0.2; margin-top: 20px;}
    100%{opacity: 1; margin-top: 0;}
}

h2 {
    margin-bottom: 20px;
    margin-left: 20px;
    animation: text;
    animation-iteration-count: 1;
    animation-duration: 2s;
}